/* Start Variables */
:root {
  --clr-primary-500: #674ab0;
  --clr-secondary-700: #e882e8

  --clr-neutral-100: #fff;
  --clr-neutral-400: #ebeced;
  --clr-neutral-900: #020202;

  --ff-base: "Open Sans", sans-serif;
  --ff-accent: "Poppins", sans-serif;
  
  --fw-regular: 400;
  --fw-semi-bold: 600;
  
  --dt-main: 0.5s;
  
  --pd-main: 60px;
  --pd-large: 150px;
}
/* End Variables */
/* Start Global Rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-base);
  background-color: var(--clr-primary-500);
}
::selection {
  background-color: var(--clr-primary-500 ,#674ab0);
  color: var(--clr-neutral-100, #fff);
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
/* End Components */
/* Start Landing */
picture img {
  height: calc(100vh - 2px);
}